.default {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.default .section-title,
.default .section-description {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
}
.default .section-title {
  font-size: 1.25rem;
}
.default .section-description {
  font-size: 0.725rem;
  margin-top: 1.25rem;
  margin-bottom: 2.5rem;
  
}

.default .section-body {
  max-width: 71.25rem;
  margin: auto;  
}

.default.light {
  background-color: #f7f7f7;  
}

.default.light .section-title,
.default.light .section-body{
  color: #000;
}

.default.dark {
  background-color: #000;
}

.default.dark .section-title,
.default.dark .section-description,
.default.dark .section-body {
  color: #fff;
}


