.section-services {
    display: flex;
    align-items: center;
    justify-content: center;
}
.section-service {
    flex: 1;
    text-align: center;
    border-right: 1px solid #333;
    padding: .9375rem;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service h4 {
    margin-top: 1.25rem;
    text-transform: uppercase;
    font-size: 1.125rem;
}

.section-service p {
    margin: .625rem;
    font-size: .8125rem;
    color: #999;

}