main .banner {
  height: calc(100vh - 6.25rem);
  background-image: url('../images/media/bg.jpg');
  background-color: #333;
  background-size: cover;
  background-position: bottom;
  overflow: hidden;
}

.banner .sliders {
  width: 1000vw;
  height: 100%;
}

.banner .slide {
  width: 100vw;
  height: 100%;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.8);
}

.banner .slide-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.banner h1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 3.125rem;
}

.banner h1 span {
  color: #b28756;
}

.banner h2 {
  text-transform: uppercase;
  margin-top: 1.25rem;
}

.button {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  background-color: #b28756;
  font-size: 0.75rem;
  font-weight: 600;
  color: #fff;
  margin-top: 1.875rem;
  padding: 0.625rem 1.875rem;
  border-radius: 1.25rem;
}

.banner .sliders-pointers {
  width: 100vw;
  height: 1.25rem;
  position: absolute;
  margin-top: -3.125rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner .pointer {
  width: 0.9375rem;
  height: 0.9375rem;
  border: 0.2rem solid #b28756;
  border-radius: 0.5rem;
  margin-left: 0.3125rem;
  margin-right: 0.3125rem;
  cursor: pointer;
}

.banner .pointer.active {
  background-color: #b28756;
}
