.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius:1.875rem;
    display: inline-block;
    padding: 0 1.25rem;
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
}

.section-projects--filters li {
    display: inline-block;
    padding: .625rem;
    text-transform: uppercase;
    font-size: .8125rem;
    font-weight: 500;
    border-left: 1px solid #ccc;
    color:#555;
    border-bottom: 3px solid #eee;
    cursor: pointer;
}

.section-projects--filters li:hover,
.section-projects--filters li.active {
    border-bottom:3px solid #b28756;
}

.section-projects--filters li:first-child {
    border-left: 0;
}

/*Photos*/
.section-projects--photos {
    width: 100vw;
    max-width: 71.25rem;
    margin-top: 1.25rem;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.section-projects--photo {
    width: 17.5rem;
}

.section-projects--photoarea {
    margin: .625rem;
    width: 16.25rem;
    height: 10rem;
}

.section-projects--photoarea img,
.section-projects--photoinfo {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #eee;
    
}

.section-projects--photoinfo h5 {
    font-size: 1.125rem;
    font-weight: 600;
}

/*Fazer aparecer fundo com informação*/
.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
}